



/* Styles associated with NAV */
nav {
    z-index: 2;
    position: relative;
}

nav > ul {
    list-style-type: none;
    border:0;
    padding-top: 30px;

}

.order-6 {
    order: 6;
}




@media (min-width: 576px) {

    .ml-auto-sm {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;
    }

}

@media (min-width: 770px ) {
    .order-6 {
        width: auto;
    }

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;
    }

}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: auto;
    }

}


@media (min-width: 992px) {
    .ml-auto-lg {
        margin-left: auto;

    }

    .order-6 {
        width: auto;
    }

}



@media (min-width: 1200px) {
    .order-6 {
        width: auto;
    }
}


.bg-container {
    border-top: 55px solid #f0f0f0;
    background-color: #ffffff;
    height: 125px;
    width: 100%;
    margin:0;
    padding:0;
    text-align: center;
    z-index: 1;
    position: absolute;
    opacity: 1;

}


.logo {
    height: 105px;
    width: 105px;
}

.logo-text {
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;
}