



/* Styles associated with NAV */
nav {
    z-index: 2;
    position: relative;
}

nav > ul {
    list-style-type: none;
    border:0;
    padding-top: 30px;

}
img{
    width:100%;
    height: auto;
    margin:auto;
    border: lightgrey;
}
.order-6 {
    order: 6;
}




@media (min-width: 576px) {

    .ml-auto-sm {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;
    }


}

@media (min-width: 770px ) {
    .order-6 {
        width: auto;
    }

}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: 100%;
    }

}



/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .ml-auto-md {
        margin-left: auto;
    }

    .order-6 {
        width: auto;
    }

}


@media (min-width: 992px) {
    .ml-auto-lg {
        margin-left: auto;

    }

    .order-6 {
        width: auto;
    }

}



@media (min-width: 1200px) {
    .order-6 {
        width: auto;
    }
}


.bg-container {
    border-top: 55px solid #f0f0f0;
    background-color: #ffffff;
    height: 125px;
    width: 100%;
    margin:0;
    padding:0;
    text-align: center;
    z-index: 1;
    position: absolute;
    opacity: 1;

}

body {background-color: #f0f0f0;}


.logo {
    height: 105px;
    width: 105px;
}

.logo-text {
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    display: block;
}

h1, h2{
    display:flex;
    justify-content: center;
}


.circle{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.circle1{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px 20px 12px;
    background-color: #E6563B;
    border: 3px solid white;
    text-align: center;
    display:flex;
    align-items: center;

}
.circle2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px 16px 12px;
    background-color: #EB9D3A;
    border: 3px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}

.circle3 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px 16px 10px;
    background-color: #7cb06c;
    border: 3px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}
.circle4 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px 30px 12px;
    background-color: #00ABA9;
    border: 3px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}
@media (max-width: 576px) {
    .phoneView {
        visibility: hidden;
    }
}


.circles{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    list-style: none;
}

.circles1{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding: 10px 16px 10px;
    background-color: #E6563B;
    border: 3px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}

.circles2{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding: 10px 16px 10px;
    background-color: #EB9D3A;
    border: 3px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}

.circles3{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding: 10px 16px 10px;
    background-color:  #7cb06c;
    border: 3px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}

.circles4{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    padding: 10px 16px 10px;
    background-color: #00ABA9;
    border: 3px solid white;
    text-align: center;
    display: flex;
    align-items: center;
}